.u-section-1 .u-sheet-1 {
  min-height: 690px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 30px;
  margin-bottom: 46px;
  height: auto;
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 465px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -429px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 861px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -812px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 912px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -901px;
  }
}